body{
    background-color: rgb(32,33,36);
    margin: 50px;
    text-align: center;
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1e79c2, 0 0 40px #1e79c2, 0 0 50px #1e79c2, 0 0 60px #1e79c2, 0 0 70px #1e79c2;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
h1{
    max-width: 80%;
    margin-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: white;
    font-weight:bold;
}
a{
  color: transparent;
}
div{
  text-align: center;
  max-width: 80%;
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-85{
  overflow-wrap:normal;
  overflow: visible;
  max-width :225px;
  min-width: 225px;
  padding: 100px 50px;
  max-width: 100px;
  max-height: 100px;
  margin:30px;
  border: 3px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

  /*max-width: 100px;
  max-height: 100px;
  margin:0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button-85
{
    font-size:100%;
    height:10%;
     width: 25%
}*/